.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;

}

.title {
    border: 1px solid;
    border-radius: 15px;
    box-shadow: -3px 3px 8px grey ;
    color: aliceblue;
    background-color: #88ef2f;
}

.body{
   list-style: none;
}