.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: wheat;
    max-width: 400px;
    border: 1px solid red;
    border-radius: 7px;
    min-width: 100px;
    min-height: 20px;
}



.customSelect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    max-width: 400px;
    border: 1px solid red;
    border-radius: 7px;
}
.main {
    border: 1px solid red;
    display: inline;
    min-width: 100px;
    min-height: 20px;
}
.items {
    display: none;
    /*flex-direction: column;*/
    /*align-items: center;*/
    position: absolute;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid red;
}
.item.selected{
    background-color: #1f1fff;
    color: white;
}



/*!***/
/*если у селекта будет ещё клас актив, то примени для айтемс это правило*/
/* *!*/
/*.customSelect.active .items {*/
/*    display: block;*/
/*}*/